{% extends 'base.html' %}

{% block main %}
<h1>Forgot Password</h1>
<form method="POST" action="/forgotpassword">
    <label for="userId">User ID:</label>
    <input type="text" id="userId" name="userId" required>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <button type="submit">Submit</button>
</form>

{% endblock %}