{% extends 'base.html' %}

{% block main %}
<h1>Login</h1>

<form method="POST" action="/signin" style="width: 25%;">
    <input type="text" placeholder="username" required id="username-input" name="userId" />
    <div style="position: relative;">
        <input type="password" placeholder="password" id="login-password" name="password" required />
        <span id="login-toggle-password">
            <i class="toggle-password fas fa-eye-slash"></i>
        </span>
    </div>
    <div id="passwordErrorMessages" class="errorMessage"></div>
    {{message}}
    <button type="submit" name="submit">Sign in</button>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div class="bottom_text">
        <a href="/signup" style="color: grey;">
            Sign Up
        </a>
        <a href="/forgotpassword" style="color: grey;">
            Forgot Password
        </a>
    </div>
</form>

{% endblock %}