{% extends 'base.html' %}

{% block main %}
<h1>Reset Your Password</h1>
<form method="POST" action="/resetpassword">
    <div style="position: relative;">
        <input type="password" id="password" name="new_password" required placeholder="New Password" />
        <i class="toggle-password fas fa-eye-slash"></i>
    </div>
    <div id="passwordErrorMessages" class="errorMessage"></div>

    <div style="position: relative;">
        <input type="password" id="confirmPassword" name="confirm_password" required
            placeholder="Confirm New Password" />
        <i class="toggle-confirm-password fas fa-eye-slash"></i>
    </div>
    <div id="confirmPasswordErrorMessage" class="errorMessage"></div>

    <input type="hidden" name="token" value="{{ token }}">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <button type="submit">Reset Password</button>
</form>
</body>

</html>

{% endblock %}