<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha384-RXmXdQZljBDC+6m6nCwhewdAHiOTaByT1Vkj91LyKcl+2HkaXDDw8te3qfqYgDtD" crossorigin="anonymous">
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha384-5e2ESR8Ycmos6g3gAKr1Jvwye8sW4U1u/cAKulfVJnkakCcMqhOudbtPnvJ+nbv7" crossorigin="anonymous" />
</head>

<body>
    <header>
        <nav class="nav">
            <ul class="navul">
                <li class="navlogo">
                    <img src="{{ url_for('static', filename='images/Chatiniti White.png') }}" alt="chatiniti"
                        style="width: 100px; margin: 0%; padding: 0%;" />
                </li>
                <li class="first-element">
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/about">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="/contacts">
                        Contacts
                    </a>
                </li>
                <li>
                    <a href="/users">
                        Users
                    </a>
                </li>
                <li>
                    <a href="/chat">
                        Chat
                    </a>
                </li>
                <li class="navusername">
                    {% if 'user_id' in session %}
                    <a href="/logout">
                        Logout
                    </a>
                    {% else %}
                    <a href="/signin">
                        Login
                    </a>
                    {% endif %}
                </li>
                <li>
                    {% if 'name' in session %}
                    <span style="color: white;">Welcome, {{ session['name'] }}</span>
                    {% else %}
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>

    <div class="landing-div">
        {% block main %}
        {% endblock %}
    </div>
    {% block hide_footer %}{% endblock %}
    {% if not hide_footer %}
    <footer>
        <div class="footer-content">
            <div class="app-info">
                <img src="{{ url_for('static', filename='images/Chatiniti.png') }}" alt="Chatiniti" />
                <p>A go-to platform for seamless communication.</p>
            </div>
            <div class="quick-links">
                <h4>Quick Links</h4>
                <ul class="bottom_links">
                    <li><a class="bottom-a" href="/">Home</a></li>
                    <li><a class="bottom-a" href="/about">About Us</a></li>
                    <li><a class="bottom-a" href="/contacts">Contacts</a></li>
                    <li><a class="bottom-a" href="/users">Users</a></li>
                    <li><a class="bottom-a" href="/chat">Chat</a></li>
                </ul>
            </div>
            <div class="social-media">
                <h4>Follow Us</h4>
                <ul class="social-icons">
                    <li><a href="#" class="bottom-a" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="bottom-a" class="twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="bottom-a" class="instagram"><i class="fab fa-instagram"></i></a></li>
                    <!-- Add more social media icons as needed -->
                </ul>
            </div>
        </div>
    </footer>
    {% endif %}
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>