@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}

/* Color Theme */

:root {
    --primary-color: #3D60DC;
    /* Primary color */
    --secondary-color: #C7D0F6;
    /* Secondary color */
    --accent-color: #75b5d0;
    /* Accent color */
    --text-color: #333;
    /* Text color */
    --success-color: #00a11b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f8ff;
    max-width: 100vw;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    /* font-family: 'Helvetica Neue', Arial, sans-serif; */
    color: var(--text-color);
}

/* Landing Div */
.landing-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: auto;
    min-height: 75vh;
}

/* Chat Container */
.chat-container {
    width: 100%;
    display: flex;
    height: 90vh;
}

/* Contacts */
.contacts {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    border-right: 1px solid #ccc;
}

/* Chat */
.chat {
    flex: 7;
    display: flex;
    flex-direction: column;
}

/* Chat Header */
.chat-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
    border-bottom: 1px solid #ccc;
}

.last-sceen {
    font-size: 14px;
}

/* Chat Messages */
.chat-messages {
    width: 100%;
    flex: 1;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    padding: 20px;
}

/* Chat Input */
.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
}

.message-buttons {
    display: flex;
    gap: 10px
}

.contact-image {
    width: 40px;
    /* Adjust size as needed */
    height: 40px;
    /* Adjust size as needed */
    border-radius: 50%;
    /* Make it round */
    margin-right: 10px;
    /* Add space between image and name */
}

.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.name {
    font-size: 14px;
}

.main-container {
    display: inline-block;
    /* or inline-flex */
    width: 100%;
    height: auto;
    margin: 0px 0px;
    background-color: transparent;
    padding: 5px;
    box-sizing: border-box;
}

.message-container {
    width: auto;
    /* min-width: 60%; */
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    /* word-wrap: break-word; */
}

.sent {
    background-color: #DCF8C6;
    float: right;
}

.received {
    background-color: var(--secondary-color);
    float: left;
}

.message {
    margin-left: 10px;
    margin-right: 10px;
}

.time-div {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: grey;
}

#contact_search {
    width: 100%;
    padding: 10px;
    padding-left: 35px;
}

.status {
    margin-left: 10px;
    font-size: 12px;
    color: red;
    /* Default to offline color */
}

/* List Styles */
ul {
    /* font-family: 'Courier New', Courier, monospace; */
    list-style-type: none;
    padding: 0;
}


textarea {
    width: auto;
    min-width: 100%;
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    /* Adjusted font size */
    height: auto;
    min-height: 300px;
}

/* Messages Input */
.messages-input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Navigation Styles */
.nav {
    width: 100%;
    min-height: 10vh;
    padding: 10px;
    color: white;
    background-color: var(--primary-color);
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo-img {
    width: 100px;
}

.navul {
    margin: 0;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    list-style-type: none;
    flex-direction: row;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

li {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1rem;
    /* Adjusted font size */
}

a {
    text-decoration: none;
    font-weight: 600;
    color: var(--secondary-color);
    /* Secondary color */
    transition: color 0.3s;
}

a:hover {
    color: #fff;
}

.bottom-a {
    color: #333;
}

/* Form Theme */
form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

input,
label,
button {
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
    /* Adjusted font size */
}

label {
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: -10px;
    color: var(--text-color);
    /* Text color */
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    /* Adjusted font size */
    width: calc(100% - 22px);
}

button {
    background-color: var(--primary-color);
    /* Primary color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--accent-color);
    /* Accent color */
}

.error {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.success {
    color: green;
    text-align: center;
    margin-top: 10px;
}

.bottom_text {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    max-width: 80%;
    height: auto;
    min-height: 80vh;
    margin: auto;
    padding: 20px;
}

#about,
#services,
#testimonials,
#pricing,
#projects,
#contact {
    margin-bottom: 50px;
}

.container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.section-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.section-content p {
    margin-bottom: 20px;
}

.about-content,
.feature-content,
.testimonials-content,
.pricing-content {
    max-width: 80%;
    margin-bottom: 50px;
    font-size: larger;
}

.tech-image img {
    width: 100%;
    border-radius: 10px;
}

.feature {
    flex-basis: calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    height: auto;
    min-height: 400px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    /* Secondary color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: var(--text-color);
}

.feature .icon {
    font-size: 4rem;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.feature .feature-details {
    font-size: larger;
}


.feature-details p {
    color: var(--primary-color);
}

.testimonial-slider-container {
    overflow: hidden;
    max-width: 60vw;
}

.testimonial-slider {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    height: 500px;
}

.testimonial-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    /* Secondary color */
    min-width: 300px;
    height: auto;
    padding: auto;
}

.testimonial-slide .slide-image {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonial-slide .slide-content {
    height: 60%;
}

.slide-image img {
    display: flex;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    object-fit: cover;
}

.slide-content p {
    text-align: center;
    font-size: larger;
}

.testimonial-name {
    font-style: italic;
    /* font-weight: lighter;   */
}


.testimonial-controls {
    margin-top: 20px;
    text-align: center;
}

.testimonial-controls button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    /* Primary color */
    color: #fff;
    cursor: pointer;
}

.pricing-table {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pricing-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.pricing-header {
    margin-bottom: 20px;
}

.pricing-header h3 {
    color: #333;
    font-size: 24px;
}

.price {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
}

.features-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.features-list li {
    margin-bottom: 10px;
    color: #666;
}

.btn {
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}


.projects-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    /* Secondary color */
}

#contact {
    display: flex;
    width: auto;
    margin: auto;
    padding: auto;
    max-width: 100%;
    /* background-color: #00a11b; */
}

#contact form {
    width: auto;
    min-width: 60vw;
}

#contact label {
    display: block;
    margin-bottom: 10px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    display: flex;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact textarea {
    width: 90%;
}

footer {
    background-color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-info,
.quick-links,
.social-media {
    flex: 1;
}

.bottom_links {
    display: flex;
}

.app-info h4,
.quick-links h4,
.social-media h4 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.app-info img {
    width: auto;
    max-width: 150px;
}

.quick-links ul {
    list-style: none;
    padding: 0;
}

.quick-links li {
    margin-bottom: 8px;
}

.quick-links a {
    color: #666;
    text-decoration: none;
    transition: color 0.3s ease;
}

.quick-links a:hover {
    color: #333;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a {
    color: #666;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #333;
}



/* Generic Table Theme CSS */
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    color: var(--text-color);
}

thead tr {
    background-color: var(--primary-color);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

th,
td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid var(--accent-color);
}

tbody tr:nth-of-type(even) {
    background-color: var(--secondary-color);
}

tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary-color);
}

button#editButton {
    background-color: var(--success-color);
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

button#deleteButton {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

button#editButton:hover {
    background-color: darken(var(--success-color), 10%);
}

button#deleteButton:hover {
    background-color: darken(var(--primary-color), 10%);
}

/* Add responsive design for mobile view */
@media (max-width: 1024px) {
    .navul {
        flex-direction: column;
        align-items: center;
    }

    li {
        font-size: 3vw;
    }


    .form {
        width: 90%;
        padding: 10px;
    }

    button {
        width: auto;
        padding: 10px;
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    th {
        background-color: var(--primary-color);
        color: #ffffff;
        text-align: left;
    }

    tbody tr {
        border: none;
        border-bottom: 1px solid var(--accent-color);
        margin-bottom: 10px;
    }

    tbody tr td {
        padding: 10px;
        text-align: right;
        position: relative;
    }

    tbody tr td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }

    button#editButton,
    button#deleteButton {
        width: 100%;
        margin: 5px 0;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .feature {
        flex-basis: calc(50% - 20px);
    }

    .navul {
        position: fixed;
        top: 60px;
        left: -100%;
        width: 250px;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        transition: left 0.3s ease;
        z-index: 1000;
    }

    .navul.show {
        left: 0;
    }

    .nav-toggle {
        display: block;
        color: white;
    }
}

@media (max-width: 576px) {
    .feature {
        flex-basis: 100%;
    }
}

@media (max-width: 480px) {
    .navul {
        padding: 10px;
    }

    li {
        padding: 10px;
        font-size: 5vw;
    }

    .messages-input {
        width: 100%;
    }

    form {
        width: 90%;
        padding: 10px;
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    th {
        background-color: var(--primary-color);
        color: #ffffff;
        text-align: left;
    }

    tbody tr {
        border: none;
        border-bottom: 1px solid var(--accent-color);
        margin-bottom: 10px;
    }

    tbody tr td {
        padding: 10px;
        text-align: right;
        position: relative;
    }

    tbody tr td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }

    button#editButton,
    button#deleteButton {
        width: 100%;
        margin: 5px 0;
        font-size: 16px;
    }
}