/* Color Theme */
:root {
    --primary-color: #3D60DC; /* Primary color */
    --secondary-color: #C7D0F6; /* Secondary color */
    --accent-color: #75b5d0; /* Accent color */
    --text-color: #333; /* Text color */
    --success-color: #00a11b;
}

body {
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: var(--text-color);
}

/* Landing Div */
.landing-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 75vh;
}


/* Chat Area */
.chat-area {
    background-color: #fff;
    display: none;
    text-align: center;
    width: 90%;
    max-width: 800px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Chat Messages */
.chat-messages {
    height: 70vh;
    text-align: left;
    margin: auto;
    overflow-y: auto;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 10px;
    border: 1px solid #ddd;
}

/* List Styles */
ul {
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none;
    padding: 0;
}

/* Messages Input */
.messages-input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Navigation Styles */
.nav {
    width: 100%;
    min-height: 10vh;
}

.navul {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color); /* Primary color */
    margin: 0;
    padding: 20px;
    width: auto;
    align-items: center;
    justify-content: center;
}

.navlogo{
    margin-right: 100px;
}

.navusername{
    margin-left: 100px;
}

li {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1rem; /* Adjusted font size */
}

a {
    text-decoration: none;
    font-weight: 600;
    color: var(--secondary-color); /* Secondary color */
    transition: color 0.3s;
}

a:hover {
    color: #fff;
}

.bottom-a{
    color: #333;
}

/* Form Theme */
form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

input, label, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem; /* Adjusted font size */
}

label {
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: -10px;
    color: var(--text-color); /* Text color */
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem; /* Adjusted font size */
    width: calc(100% - 22px);
}

button {
    background-color: var(--primary-color); /* Primary color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem; /* Adjusted font size */
    padding: 10px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--accent-color); /* Accent color */
}

.error {
    color: red;
    text-align: center;
    /* margin-top: 10px; */
}

.bottom_text {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container h1{
    text-align: center;
}

.welcome-section {
    text-align: center;
    margin-bottom: 50px;
}

#about, #services, #testimonials, #pricing, #projects, #contact {
    margin-bottom: 50px;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-content p {
    margin-bottom: 20px;
    text-align: center;
    font-size: large;
    text-align: center;
}

.about-content {
    max-width: auto;
}

.tech-image img {
    width: 100%;
    border-radius: 10px;
}

#features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature {
    flex-basis: calc(33.33% - 20px);
    padding: 20px;
    text-align: center;
    min-height: 170px;
    border-radius: 10px;
    background-color: var(--primary-color); /* Secondary color */
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color:white
}

.feature .icon {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.testimonial-slider-container {
    overflow: hidden;
}

.testimonial-slider {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
}

.testimonial-slide {
    flex: 0 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--secondary-color); /* Secondary color */
    min-width: 300px;
}

.testimonial-controls {
    margin-top: 20px;
    text-align: center;
}

.testimonial-controls button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color); /* Primary color */
    color: #fff;
    cursor: pointer;
}

.toggle-password,
.toggle-confirm-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.pricing-table {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pricing-card {
    flex: 0 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--secondary-color); /* Secondary color */
    max-width: 300px;
}

.pricing-card ul {
    list-style: none;
    padding: 0;
}

.pricing-card ul li {
    margin-bottom: 10px;
}

.projects-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--secondary-color); /* Secondary color */
}

#contact form {
    margin: auto;
    width: 100%;
}

.errorMessage{
    color: red;
    font-size: small;
    padding-left: 5px;
}

#contact label {
    display: block;
    margin-bottom: 10px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: auto;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact button {
    padding: 10px 20px;
    background-color: var(--primary-color); /* Primary color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-info,
.quick-links,
.social-media {
    flex: 1;
}
.bottom_links{
    display: flex;
}
.app-info h4,
.quick-links h4,
.social-media h4 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.quick-links ul {
    list-style: none;
    padding: 0;
}

.quick-links li {
    margin-bottom: 8px;
}

.quick-links a {
    color: #666;
    text-decoration: none;
    transition: color 0.3s ease;
}

.quick-links a:hover {
    color: #333;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a {
    color: #666;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #333;
}

table {
        width: 90%;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    #contactForm,
    #editForm {
        display: none;
        margin-top: 20px;
    }

    #editButton,
    #cancelEditButton,
    #submitEditButton {
        background-color: orange;
        border: none;
        cursor: pointer;
    }

    #cancelbutton {
        background-color: lightcoral;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }

    #deleteButton {
        background-color: red;
        border: none;
        cursor: pointer;
    }

    tr:hover {
        background-color: #d7fdf9;
    }

    #editButton:hover,
    #cancelEditButton:hover,
    #submitEditButton:hover {
        background-color: darkorange;
    }

    #cancelbutton:hover {
        background-color: pink;
    }

    #deleteButton:hover {
        background-color: darkred;
    }

    .success{
        color: var(--success-color);
        text-align: center;
    }

    @media (max-width: 768px) {

        th,
        td {
            padding: 6px;
            font-size: 14px;
        }

        #editButton,
        #deleteButton,
        #cancelbutton,
        #cancelEditButton,
        #submitEditButton {
            padding: 4px 8px;
            font-size: 12px;
        }
    }

    @media (max-width: 576px) {

        th,
        td {
            padding: 4px;
            font-size: 12px;
        }

        #editButton,
        #deleteButton,
        #cancelbutton,
        #cancelEditButton,
        #submitEditButton {
            padding: 3px 6px;
            font-size: 10px;
        }

        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        th,
        td {
            box-sizing: border-box;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        tr {
            margin-bottom: 10px;
        }
    }

/* Media Queries for responsiveness */

@media screen and (max-width: 768px) {
    .feature {
        flex-basis: calc(50% - 20px);
    }
}

@media screen and (max-width: 576px) {
    .feature {
        flex-basis: 100%;
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navul {
        flex-direction: column;
        align-items: center;
    }

    li {
        font-size: 4vw;
    }

    .chat-area, .form {
        width: 90%;
        padding: 10px;
    }

    button {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .navul {
        padding: 10px;
    }

    li {
        padding: 10px;
        font-size: 5vw;
    }

    .chat-messages {
        height: 50vh;
    }

    .messages-input {
        width: 100%;
    }

    form {
        width: 90%;
        padding: 10px;
    }
}
