{% extends 'base.html' %}

{% block main %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-VNVqs/GfSpB9O32Dch06zUb72PBkSF0Wqn40v7WFClgPdb6FmdJ+PLQbMQeDzfbNzHcz6ExmpZCEUGhT/lJZfw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    /* Reset CSS */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Chat Container */
    .chat-container {
        width: 100%;
        display: flex;
        height: 90vh;
    }

    /* Contacts */
    .contacts {
        flex: 1;
        overflow-y: auto;
        padding: 20px;
        border-right: 1px solid #ccc;
    }

    /* Chat */
    .chat {
        flex: 7;
        display: flex;
        flex-direction: column;
    }

    /* Chat Header */
    .chat-header {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ccc;
        border-bottom: 1px solid #ccc;
    }

    .last-sceen {
        font-size: 14px;
    }

    /* Chat Messages */
    .chat-messages {
        width: 100%;
        flex: 1;
        background-color: rgb(255, 255, 255);
        overflow-y: auto;
        padding: 20px;
    }

    /* Chat Input */
    .chat-input {
        display: flex;
        align-items: center;
        padding: 10px;
        border-top: 1px solid #ccc;
    }

    .chat-input input {
        flex: 1;
        padding: 10px;
        margin-right: 10px;
    }

    .chat-input button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .contact-image {
        width: 40px;
        /* Adjust size as needed */
        height: 40px;
        /* Adjust size as needed */
        border-radius: 50%;
        /* Make it round */
        margin-right: 10px;
        /* Add space between image and name */
    }

    .item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .name {
        font-size: 14px;
    }

    .main-container {
        display: inline-block;
        /* or inline-flex */
        width: 100%;
        height: auto;
        margin: 0px 0px;
        background-color: transparent;
        padding: 5px;
        box-sizing: border-box;
    }

    .message-container {
        width: auto;
        /* min-width: 60%; */
        margin: 5px;
        padding: 10px;
        border-radius: 10px;
        /* word-wrap: break-word; */
    }

    .sent {
        background-color: #DCF8C6;
        float: right;
    }

    .received {
        background-color: #00b3ff;
        float: left;
    }

    .message {
        margin-left: 10px;
        margin-right: 10px;
    }

    .time-div {
        display: flex;
        justify-content: flex-end;
        font-size: 12px;
    }

    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }

    .search-icon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: grey;
    }

    #contact_search {
        width: 100%;
        padding: 10px;
        padding-left: 35px;
    }

    .status {
        margin-left: 10px;
        font-size: 12px;
        color: red;
        /* Default to offline color */
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get all contact list items
        var contactItems = document.querySelectorAll('.item');

        // Add click event listener to each contact list item
        contactItems.forEach(function (item) {
            item.addEventListener('click', function () {
                // Get the ID of the selected contact
                var contactId = item.dataset.contactId;

                // Redirect to the chat route with the selected contact ID
                window.location.href = '/chat/' + contactId;
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        var chatMessages = document.getElementById("chat-messages");
        chatMessages.scrollTop = chatMessages.scrollHeight;
    });
</script>
{% if 'user_id' in session %}
<div class="chat-container">
    <div class="contacts">
        <div style="border-bottom: 1px solid grey; position: relative;">
            <i class="fas fa-search search-icon"></i>
            <input type="text" id="contact_search" placeholder="Search" />
        </div>
        <ul>
            {% for contact in contacts %}
            <li data-contact-id="{{ contact['user_id'] }}" class="item">
                <img src="{{ contact.image }}" alt="{{ contact['name'] }}" class="contact-image">
                <span class="name">{{ contact.name }}</span>
                <span class="status">Offline</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="chat">
        <div class="chat-header" id="chat-header">
            <div>
                {% if contactName %}
                <h3>{{ contactName }}</h3>
                <p class="last-sceen">Last seen: {{ lastLogin }}</p>
                {% endif %}
            </div>
            <div style="display: flex; justify-content: space-between; align-items: center; gap: 20px;">
                <i class="fas fa-phone-volume"></i>
                <i class="fa-solid fa-video"></i>
            </div>
        </div>
        <div class="chat-messages" id="chat-messages">
            {% if chat_history %}
            {% for chat in chat_history %}
            {% if chat.sender == "You" %}
            <div class="main-container">
                <div class="message-container sent">
                    <div>
                        <span class="message">{{ chat.message }}</span>
                    </div>
                    <div class="time-div">
                        <span class="timestamp">{{ chat.createdAt }}</span>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="main-container">
                <div class="message-container received">
                    <div>
                        <span class="message">{{ chat.message }}</span>
                    </div>
                    <div class="time-div">
                        <span class="timestamp">{{ chat.createdAt }}</span>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% else %}
            {% if contactName %}
            {%else%}
            <h3>Start a conversation to view</h3>
            {% endif %}
            {% endif %}
        </div>
        <div class="chat-input">
            <input type="text" id="message-input" placeholder="Type a message...">
            <button id="send-btn">Send</button>
            <button id="attach-btn">Attach</button>
        </div>
    </div>
    <div id="user-status"></div>
</div>
<!-- <div class="chat-container">
    <video id="localVideo" autoplay muted></video>
    <video id="remoteVideo" autoplay></video>
    <button id="callButton">Call</button>
    <button id="answerButton" style="display:none;">Answer</button>
</div> -->
{% else %}
<div>
    Login to view chats
</div>
{%endif%}
<script>
    document.addEventListener('DOMContentLoaded', function () {

        // const localStream = document.getElementById('localVideo');
        // const remoteStream = document.getElementById('remoteVideo');
        // const callButton = document.getElementById('callButton');
        // const answerButton = document.getElementById('answerButton');
        // let localMediaStream;
        // let peerConnection;

        var socket = io.connect('http://' + document.domain + ':' + location.port, {
            query: "user_id= {{ session['user_id'] }}"
        });

        // navigator.mediaDevices.getUserMedia({ video: false, audio: true })
        //     .then(stream => {
        //         localVideo.srcObject = stream;
        //         localMediaStream = stream;
        //     })
        //     .catch(error => console.error('Error accessing media devices.', error));

        // callButton.onclick = () => {
        //     startCall();
        // };

        // answerButton.onclick = () => {
        //     answerCall();
        // };

        // function startCall() {
        //     const configuration = {
        //         'iceServers': [{ 'urls': 'stun:stun.l.google.com:19302' }]
        //     };
        //     peerConnection = new RTCPeerConnection(configuration);

        //     localMediaStream.getTracks().forEach(track => {
        //         peerConnection.addTrack(track, localMediaStream);
        //     });

        //     peerConnection.onicecandidate = event => {
        //         if (event.candidate) {
        //             socket.emit('ice_candidate', { candidate: event.candidate, conversation_id: "{{ conversation_id }}" });
        //         }
        //     };

        //     peerConnection.ontrack = event => {
        //         remoteVideo.srcObject = event.streams[0];
        //     };

        //     peerConnection.createOffer()
        //         .then(offer => peerConnection.setLocalDescription(offer))
        //         .then(() => {
        //             socket.emit('call_user', { offer: peerConnection.localDescription, conversation_id: "{{ conversation_id }}" });
        //         });
        // }

        // function answerCall() {
        //     const configuration = {
        //         'iceServers': [{ 'urls': 'stun:stun.l.google.com:19302' }]
        //     };
        //     peerConnection = new RTCPeerConnection(configuration);

        //     localMediaStream.getTracks().forEach(track => {
        //         peerConnection.addTrack(track, localMediaStream);
        //     });

        //     peerConnection.onicecandidate = event => {
        //         if (event.candidate) {
        //             socket.emit('ice_candidate', { candidate: event.candidate, conversation_id: "{{ conversation_id }}" });
        //         }
        //     };

        //     peerConnection.ontrack = event => {
        //         remoteVideo.srcObject = event.streams[0];
        //     };
        // }

        // socket.on('receive_call', data => {
        //     answerButton.style.display = 'block';
        //     peerConnection.setRemoteDescription(new RTCSessionDescription(data.offer))
        //         .then(() => peerConnection.createAnswer())
        //         .then(answer => peerConnection.setLocalDescription(answer))
        //         .then(() => {
        //             socket.emit('answer_call', { answer: peerConnection.localDescription, conversation_id: "{{ conversation_id }}" });
        //         });
        // });

        // socket.on('call_answered', data => {
        //     peerConnection.setRemoteDescription(new RTCSessionDescription(data.answer));
        // });

        // socket.on('ice_candidate', data => {
        //     const candidate = new RTCIceCandidate(data.candidate);
        //     peerConnection.addIceCandidate(candidate);
        // });

        socket.on('user_status', function (data) {
            var statusElement = document.querySelector(`.item[data-contact-id="${data.user_id}"] .status`);
            if (statusElement) {
                statusElement.innerText = data.status === 'online' ? 'Online' : 'Offline';
                statusElement.style.color = data.status === 'online' ? 'green' : 'red';
            }
        });

        socket.on('contact_statuses', function (statuses) {
            console.log(statuses, 'printing statuses')
            for (var userId in statuses) {
                var statusElement = document.querySelector(`.item[data-contact-id="${userId}"] .status`);
                if (statusElement) {
                    statusElement.innerText = statuses[userId].status === 'online' ? 'Online' : 'Offline';
                    statusElement.style.color = statuses[userId].status === 'online' ? 'green' : 'red';
                }
            }
        });

        function checkUserStatus(userId) {
            socket.emit('check_status', { user_id: userId });
        }

        socket.on('status_response', function (data) {
            var statusDiv = document.getElementById('user-status');
            statusDiv.innerHTML = `${data.user_id} is ${data.status}`;
        });

        var userid = "{{ session['user_id'] }}";
        var conversationId = "{{ conversation_id }}";

        // Ensure the client joins the conversation room
        function joinConversation(conversationId) {
            if (conversationId) {
                socket.emit('join_conversation', {
                    userid: userid,
                    conversation_id: conversationId
                });
            }
        }

        joinConversation(conversationId);

        function sendMessage() {
            var messageInput = document.getElementById('message-input');
            var message = messageInput.value;
            if (message.trim()) {
                var createdAt = new Date();
                socket.emit('send_message', {
                    message: message,
                    sender: userid,
                    conversation_id: conversationId,
                    sender_id: userid,
                    createdAt: createdAt
                });
                messageInput.value = '';
                appendMessage({
                    message: message,
                    sender: userid,
                    createdAt: formatDate(createdAt)
                }, true);
            }
        }

        document.getElementById('send-btn').onclick = sendMessage;

        document.getElementById('message-input').addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                sendMessage();
            }
        });

        function formatDate(date) {
            const d = new Date(date);
            const year = d.getFullYear();
            const month = String(d.getMonth() + 1).padStart(2, '0');
            const day = String(d.getDate()).padStart(2, '0');
            let hours = d.getHours();
            const minutes = String(d.getMinutes()).padStart(2, '0');
            const seconds = String(d.getSeconds()).padStart(2, '0');
            const ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            hours = String(hours).padStart(2, '0'); // pad with leading zeros if necessary
            return `${hours}:${minutes} ${ampm}`;
        }

        function appendMessage(data, isSender) {
            var messagesDiv = document.getElementById('chat-messages');
            var newMessage = document.createElement('div');
            newMessage.classList.add('main-container', 'clearfix');
            newMessage.innerHTML = '<div class="message-container ' + (isSender ? 'sent' : 'received') + '"><div><span class="message">' + data.message + '</span></div><div class="time-div"><span class="timestamp">' + data.createdAt + '</span></div></div>';
            messagesDiv.appendChild(newMessage);
            messagesDiv.scrollTop = messagesDiv.scrollHeight;
        }

        socket.on('receive_message', function (data) {
            console.log(' in receive message socket')
            if (data.sender !== userid)
                appendMessage({
                    message: data.message,
                    sender: data.sender,
                    createdAt: formatDate(data.createdAt)
                }, false);
        });

        document.querySelectorAll('.timestamp').forEach(function (element) {
            var date = new Date(element.innerText);
            element.innerText = formatDate(date);
        });

        document.getElementById('contact_search').addEventListener('input', printingSearch);

        function printingSearch() {
            var searchBar = document.getElementById('contact_search').value.toLowerCase();
            var contactItems = document.querySelectorAll('.item');
            contactItems.forEach(function (item) {
                var contactName = item.querySelector('.name').innerText.toLowerCase();
                if (contactName.includes(searchBar)) {
                    item.style.display = 'flex'; // Show the contact item if it matches the search
                } else {
                    item.style.display = 'none'; // Hide the contact item if it doesn't match the search
                }
            });
        }

        // Handle contact item click
        document.querySelectorAll('.item').forEach(function (item) {
            item.addEventListener('click', function () {
                var contactId = item.dataset.contactId;
                loadChat(contactId);
            });
        });

        function loadChat(contactId) {
            fetch(`/chat/${contactId}`)
                .then(response => response.json())
                .then(data => {
                    // Update chat header
                    var chatHeader = document.querySelector('.chat-header');
                    chatHeader.querySelector('h3').innerText = data.contactName;
                    chatHeader.querySelector('.last-sceen').innerText = `Last seen: ${data.lastLogin}`;

                    // Update chat messages
                    var chatMessages = document.querySelector('.chat-messages');
                    chatMessages.innerHTML = '';
                    data.chat_history.forEach(chat => {
                        appendMessage(chat, chat.sender === 'You');
                    });

                    // Update conversation ID
                    conversationId = data.conversation_id;
                    joinConversation(conversationId);
                });
        }
    });
</script>
{% endblock %}