<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script src="http://cdn.socket.io/4.6.0/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="landing-div">
        <nav class="nav">
            <ul class="navul">
                <li class="first-element">
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/about">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="/chat">
                        Chat
                    </a>
                </li>
                {% if 'user_id' in session %}
                <li>
                    <a href="/logout">
                        Logout
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="/signin">
                        Login
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% block main %}
        {% endblock %}
    </div>
</body>

</html>